<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/DataTables/datatables.min.css" rel="stylesheet" />
    <link href="~/Content/Custom/custom-style.css" rel="stylesheet" />

</head>
<body>

    <div id="overlay" class="hide"></div>
    <div id="loading_spinner_bg" class="hide">
        <div class="spinner-border text-primary" role="status" id="loading_spinner">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>

    <div class="side-nav">
        <div class="d-flex flex-column h-100">
            <div class="nav-tab mb-3">
                HRIS
            </div>

            <div class="nav-tab mb-3">
                Home
            </div>

            <div class="nav-tab mb-3">
                Analytics
            </div>

            <div class="nav-tab mb-3">
                User
            </div>

            <div class="nav-tab">
                <a href="@Url.Action("Index", "Employee")">Employee</a>
            </div>

            <div class="nav-tab nav-profile-tab mt-auto">
                <div class="d-flex">
                    <img src="~/Content/images/user-profile/placeholder-profile.jpg" alt="test" class="rounded-circle profile-pic">
                    <div>
                        <p>Username</p>
                        <p>Fullname</p>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Content/DataTables/datatables.min.js"></script>

    <script>
        //User defined JQuery functions
        $.fn.toggleLoadingScreen = function () {
            $('#overlay').toggleClass('hide');
            $('#loading_spinner_bg').toggleClass('hide');
        };
    </script>

    @RenderSection("scripts", required: false)
</body>
</html>
