<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/DataTables/datatables.min.css" rel="stylesheet"/>
    <style>
        input{
            max-width: 100% !important;
        }

        #loading_spinner_background {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 10;
        }

        .loading-add-opacity {
            opacity: 0.5;
        }

        #overlay {
            height: 100vh;
            width: 100vw;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 9;
            background-color: black;
            opacity: 0.3;
        }

        #loading_spinner_bg {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 9;
        }

        #loading_spinner {
            width: 4rem;
            height: 4rem;
        }

        .show{
            display: block;
        }

        .hide {
            display: none;
        }
    </style>
</head>
<body>

    <div id="overlay" class="hide"></div>
    <div id="loading_spinner_bg" class="hide">
        <div class="spinner-border text-primary" role="status" id="loading_spinner">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">HRIS</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="@Url.Action("Index", "Employee")">Home</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="@Url.Action("Create", "Employee")">Register Employee</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Content/DataTables/datatables.min.js"></script>

    <script>
        //User defined JQuery functions
        $.fn.toggleLoadingScreen = function () {
            $('#overlay').toggleClass('hide');
            $('#loading_spinner_bg').toggleClass('hide');
        };
    </script>

    @RenderSection("scripts", required: false)
</body>
</html>
